<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-card class="pa-3">
				<v-layout row wrap>
					<v-flex xs3>
						<v-combobox
							ref="combobox"
							v-model="filter.tab"
							label="Filter group"
							:items="allTabs"
							hide-details
						></v-combobox>
					</v-flex>
					<v-flex xs7>
						<v-text-field
							v-model="filter.item_name"
							label="Search"
							hide-details
							placeholder="Please enter item name"
							></v-text-field>
					</v-flex>
					<v-flex xs2>
						<v-checkbox
							label="Exact"
							hide-details
							v-model="filter.is_csearch"
						></v-checkbox>
					</v-flex>
					<v-flex xs3>
						<v-text-field v-model="filter.min_lev" mask="##" hide-details label="Min level"></v-text-field>
					</v-flex>
					<v-flex xs3>
						<v-text-field v-model="filter.max_lev" mask="##" hide-details label="Max level"></v-text-field>
					</v-flex>
					<v-flex xs2>
						<v-select
							v-model="filter.grade"
							:items="grades"
							label="Grade"
							hide-details
						>
							<template slot="selection" slot-scope="data">
							    <span :style="{ color: data.item.color }">{{ data.item.text }}</span>
							</template>
							<template slot="item" slot-scope="data">
								<v-list-tile-content>
									<span :style="{ color: data.item.color }">{{ data.item.text }}</span>
								</v-list-tile-content>							    
							</template>					
						</v-select>
					</v-flex>
					<v-flex xs2>
						<v-select
							v-model="filter.upgrade_level"
							:items="enhancements"
							label="Enhancement"
							hide-details
						></v-select>
					</v-flex>
					<v-flex xs2>
						<v-select
							v-model="filter.evolution_level"
							:items="evolutions"
							label="Evolution"
							hide-details
						></v-select>
					</v-flex>

					<v-flex v-bind="catColWidthBind">
						<v-select
							v-model="category1"
							:items="categories"
							label="Category"
							hide-details
							return-object
						></v-select>
					</v-flex>
					<v-flex v-bind="catColWidthBind" v-if="category1 && category1.subcategories">
						<v-select
							v-model="category2"
							:items="category1.subcategories"
							label="Category 2"
							hide-details
							return-object
						></v-select>
					</v-flex>
					<v-flex v-bind="catColWidthBind" v-if="category2 && category2.subcategories">
						<v-select
							v-model="category3"
							:items="category2.subcategories"
							label="Category 3"
							hide-details
							return-object
						></v-select>
					</v-flex>
					<v-flex xs3>
						<v-select
							v-model="by_runes"
							:items="rune_list"
							label="By Rune"
							hide-details
							multiple
						></v-select>
					</v-flex>
				</v-layout>
				<v-card-actions>
					<v-btn @click="createFilter" color="primary">Create Filter</v-btn>
					<v-btn @click="reset" flat>Reset</v-btn>
				</v-card-actions>
			</v-card>
		</v-flex>
		
		<template v-if="differences.length">
			<v-flex xs12>
				<v-card class="grey darken-2">
					<v-tabs centered dark v-if="filtersTabs.length">
						<v-tabs-slider color="white"></v-tabs-slider>

						<v-tab v-for="(tab, i) in filtersTabs" :key="i" :href="'#tab-'+i">
							{{ tab }}
						</v-tab>

						<v-tab-item class="px-2" v-for="(tab, i) in filtersTabs" :id="'tab-' + i" :key="i">
							<v-card class="my-2"  v-for="(item, idx) in differences.filter(e => e.tab === tab)" :key="idx">
								<v-card-title>
									<v-flex xs11 class="title pa-0">
										[#{{ idx+1 }}] {{ getFilterName(item) }}
									</v-flex>
									<v-flex xs1 class="pa-0" style="text-align: right">
										<v-btn @click="removeFilter(item)" small icon color="red" class="ma-0">
											<v-icon small>close</v-icon>
										</v-btn>
									</v-flex>
								</v-card-title>
								<v-card-text v-if="getLabels(item).length" class="pt-0">
									<v-layout row wrap>
										<v-flex xs3 v-for="label in getLabels(item)" :key="label.text">
											{{ label.text }}: {{ label.value }}
										</v-flex>
									</v-layout>
								</v-card-text>
							</v-card>
						</v-tab-item>
					</v-tabs>
				</v-card>
			</v-flex>
		</template>

		<template v-else>
			<v-flex xs12 v-for="(item, idx) in differences" :key="idx">
				<v-card>
					<v-card-title>
						<v-flex xs11 class="title pa-0">
							[#{{ idx+1 }}] {{ getFilterName(item) }}
						</v-flex>
						<v-flex xs1 class="pa-0" style="text-align: right">
							<v-btn @click="removeFilter(item)" small icon color="red" class="ma-0">
								<v-icon small>close</v-icon>
							</v-btn>
						</v-flex>
					</v-card-title>
					<v-card-text v-if="getLabels(item).length" class="pt-0">
						<v-layout row wrap>
							<template v-for="label in getLabels(item)">
								<v-flex xs3 :key="label.text">
									{{ label.text }}: {{ label.value }}
								</v-flex>
							</template>
						</v-layout>
					</v-card-text>
				</v-card>
			</v-flex>
		</template>

	</v-layout>
</template>

<script>

import { first, clone, find } from 'lodash'
import FilterCategories from '@/mixins/FilterCategories'
	
const DefaultFilter = {
	ctrl: 'list',
	category1: 9999,
	category2: 9999,
	category3: 9999,
	min_lev: '',
	max_lev: '',
	grade: 'all',
	item_name: '',
	sort_type: 3, // 3 - price
	sort_value: 2, // 1 - desc, 2 - asc
	evolution_level: -1,
	upgrade_level: -1,
	page: 1,
	lang: 'ENG',
	my_gold: 0,
	world: 0,
	csn: 0,
	is_use: false,
	is_buy: false,
	is_favorite: false,
	is_csearch: false, // true - полное совпадение имени
	wish_price: 0,
	tab: undefined,
	by_runes: [],
}

export default {
	mixins: [FilterCategories],
	data: () => ({
		currentTab: false,
		tabs: [
			'Weapon',
			'Armor',
			'Craft',
			'Spirit',
			'Other',
		],

		checkedFilters: false,
		filter: { ...DefaultFilter },

		category1: null,
		category2: null,
		category3: null,
		by_runes: [],
	}),

	computed: {
		filters() {
			return this.$store.getters.filters
		},

		differences() {
			return this.$store.getters.difference
		},

		filtersTabs() {
			return this.differences.filter(e => !!e.tab).map(e => e.tab)
				.filter((elem, pos, arr) => arr.indexOf(elem) == pos)
		},

		allTabs() {
			return ([ ...this.tabs, ...this.filtersTabs ])
				.filter((elem, pos, arr) => arr.indexOf(elem) == pos)
		},

		isArmorCat() {
			return this.category1 && this.category1.value == 2
		},

		catColWidthBind() {
			return { xs3: this.isArmorCat, xs4: !this.isArmorCat }
		},
	},

	watch: {
		by_runes: function(newVal, oldVal) {
			this.filter.by_runes = newVal;
		},

		category1: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category1 = newVal.value;
			}

			if(!newVal.subcategories) {
				this.filter.category2 = 9999;
				this.filter.category3 = 9999;
			}
		},

		category2: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category2 = newVal.value;

				if(this.category1.value == 1 && newVal.value == 2) {
					this.category3 = newVal.subcategories[0]
				}

				if(newVal.value > 2) {
					this.filter.category3 = 9999
				}
			}
		},

		category3: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category3 = newVal.value;
			}
		},		
	},

	methods: {
		reset() {
			this.$refs.combobox.blur();
			this.filter = { ...DefaultFilter }
			this.category1 = first(this.categories)
			this.category2 = null
			this.category3 = null
			this.by_runes = []
		},

		createFilter() {
			if(!this.filter.tab || this.filter.tab.length <= 0) {
				this.notify('Select filter group or create a new one', 'error')
				return false
			}

			this.$store.dispatch('addFilter', clone(this.filter))
			// this.$store.commit('setFilter', clone(this.filter))
			this.reset()			
		},

		removeFilter(item) {
			this.$store.dispatch('removeFilter', item.id)
			// this.$store.commit('removeFilter', item)
		},		

		getLabels(item) {
			let labels = {
					is_csearch: 'Exact matches',
					min_lev: 'Min level',
					max_lev: 'Max level',
					grade: 'Grade',
					upgrade_level: 'Enhancement level',
					evolution_level: 'Evolution level',
				},
				keys = Object.keys(item),				
				res = []

			for (var i = 0; i < keys.length; i++) {
				let key = keys[i],
					value = item[key];

				if(labels[key]) {
					res.push({ text: labels[key], value })
				}				
			}

			return res;
		}
	},

	mounted() {
		this.reset()
	}
}

</script>