<template>
	<v-layout row wrap>
		<v-alert v-if="isEmpty" :value="true" key="empty" color="info" icon="info" outline>
	      No one filteres are selected for monitoring
	   </v-alert>
		
		<v-flex v-bind="filterCardSizes" v-for="filter in selectedFilters" :key="filter.id" class="filter-card">
			<v-menu bottom offset-y :close-on-content-click="false" :ref="`menu${filter.id}`">
				<h4 slot="activator">{{ getFilterName(filter) }}</h4>
				<v-card>
					<v-card-title primary-title>
						<h4>Selling price you wish</h4>
					</v-card-title>
					<v-card-text>
						<v-text-field :ref="`filter${filter.id}`" label="Price" placeholder="Price" suffix="bronze"></v-text-field>
    				</v-card-text>
    				<v-card-actions>
    					<v-spacer></v-spacer>
						<v-btn @click="setWishPrice(filter.id)" color="primary">Save</v-btn>
    				</v-card-actions>
				</v-card>
			</v-menu>
			<table class="table table-striped product-list">
				<thead>
					<tr>
						<th>Product</th>
						<th width="20%">Price</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="prodsByFilters[filter.id]" v-for="product in prodsByFilters[filter.id]">
						<tr :class="product.btn.type.toLocaleLowerCase()" @click="copyName(product.name)">
							<td class="product">
								<div class="d-flex align-center">
									<v-menu right open-on-hover nudge-right="32" close-delay="0">
										<span class="img" slot="activator">
											<img :class="product.gradeName" :src="product.img">
											<span class="profit" v-if="filter.wish_price - (filter.wish_price/100)*5 > product.priceEach"></span>
										</span>
										
										<v-card class="prod-tooltip">
											<v-list dense>
												<v-list-tile avatar>
													<v-list-tile-avatar tile>
														<img :src="product.img" :class="product.gradeName" />
													</v-list-tile-avatar>
													<v-list-tile-content>
														<v-list-tile-title>
															{{ product.enhancement > 1 ? `+${product.enhancement} `:'' }}{{ product.name }}
														</v-list-tile-title>
														<v-list-tile-sub-title>{{ product.type }}</v-list-tile-sub-title>
													</v-list-tile-content>
												</v-list-tile>
											</v-list>
											<template v-if="product.tootltip && product.tootltip.length">
												<v-divider></v-divider>
												<v-list dense>
													<v-list-tile class="prod-info-row" v-for="row in product.tootltip" :key="row.title">
														<v-list-tile-title>
															{{ row.title }}: {{ row.val }}
														</v-list-tile-title>
													</v-list-tile>
												</v-list>
											</template>
											<template v-if="getSocketInfo(product.socket_info)">
												<v-divider></v-divider>
												<v-list dense>
													<v-list-tile v-for="row in getSocketInfo(product.socket_info)" :key="row.text">
														<v-list-tile-title>
															<span :class="row.className" v-html="row.text"></span>
														</v-list-tile-title>
													</v-list-tile>
												</v-list>
											</template>
										</v-card>
									</v-menu>

									<v-flex xs12 class="pa-0"> 
										<em><span>{{ product.enhancement > 0 ? `+${product.enhancement} ` : ''}}{{ product.name }}</span></em>
										
									</v-flex>
								</div>							
							</td>
							<td class="price">
								<v-tooltip v-if="product.count > 0" top content-class="price-tooltip">
   								<span slot="activator" v-html="getPriceHtml(product.priceEach, product.count)"></span>
									<div>
										<span class="price" v-html="getPriceHtml(product.priceTotal, -1)"></span>
									</div>
									<v-divider></v-divider>
									<div v-if="filter.wish_price - (filter.wish_price/100)*5 > product.priceEach">
										<span class="price"><em>Profit</em></span><br>
										<span class="price" v-html="getPriceHtml(filter.wish_price - (filter.wish_price/100)*5 - product.priceEach)"></span>
										<span class="price"><em>each</em></span><br>
										<span class="price" v-html="getPriceHtml((filter.wish_price - (filter.wish_price/100)*5 - product.priceEach)*product.count)"></span>
										<span class="price"><em>total</em></span>
									</div>
								</v-tooltip>
								<span v-else v-html="getPriceHtml(product.priceEach)"></span>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</v-flex>

		<portal to="rightSideBtns">
			<v-toolbar-items>
				<v-btn flat @click.stop="toggleRightDrawer()">
					Filters
				</v-btn>
			</v-toolbar-items>
		</portal>

		<portal to="rightDrawer">
			<v-list subheader>
				<template v-for="(group, name) in groupedFilters">

					<v-subheader>
						<span>{{ name }}</span>
						<v-spacer></v-spacer>
						<v-list-tile-action v-if="group.length > 1" style="min-width: auto;">
							<v-checkbox
								:input-value="checkGroup(group)"
								@change="toggleGroup($event, group)"
							></v-checkbox>
						</v-list-tile-action>
					</v-subheader>

					<v-list-tile v-for="(item, i) in group" :key="item.id">
						<v-list-tile-action>
							<v-checkbox
								:input-value="!!item.checked"
								@change="toggleFilter($event, item)"
							></v-checkbox>
						</v-list-tile-action>
						<v-list-tile-title>{{ getFilterName(item) }}</v-list-tile-title>	
					</v-list-tile>

					<v-divider></v-divider>

				</template>
			</v-list>
		</portal>
		
	</v-layout>
</template>

<script>

import FilterCategories from '@/mixins/FilterCategories'

export default {
	mixins: [FilterCategories],
	data: () => ({
		list: {},
		prodsByFilters: {},
	}),

	computed: {
		filterCardSizes() {
			return _.transform(this.settings.monitoring.filter_sizes, function(result, value, key) {
				result[key+value] = true
			}, {});
		},

		filters() {
			return this.$store.getters.filters
		},

		groupedFilters() {
			return _.groupBy(this.filters.filter(e => !!e.tab), e => e.tab)
		},

		isEmpty() {
			return !this.selectedFilters.length
		},

		selectedFilters() {
			return _.orderBy(this.filters.filter(item => item.checked), 'checked')
		}

		
	},

	watch: {
		selectedFilters: function(newVal) {
			this.setSelectedFilters()
		}
	},

	methods: {
		checkGroup(group) {
			return group.filter(item => item.checked).length == group.length
		},

		toggleGroup(checked, group) {
			let groupIds = group.map(({ id }) => id)
			this.$store.dispatch('toggleChecked', [groupIds, checked])
		},

		toggleFilter(checked, filter) {
			this.$store.dispatch('toggleChecked', [[filter.id], checked])
		},

		getPriceHtml(price, count) {
			var g = Math.floor(price/10000),
				s = Math.floor((price%10000)/100),
				b = price%100,
				count = count && count > 1 ? `<em>(x${count})</em>` : (count && count < 0 ? '<em>Total</em>' : '');

			s = s < 10 ? `0${s}` : s;
			b = b < 10 ? `0${b}` : b;

			return `${count}<span class="money gold">${g}</span><span class="money silver">${s}</span><span class="money bronse">${b}</span>`
		},

		getSocketInfo(socket) {
			if(!socket || socket.length <= 0)
				return false;

			return socket.split('|').map(text => {
				let className = text.indexOf('img width=25 height=25') > -1 ? 'socket-row head-row' : 'socket-row'
				return { className, text }
			})
		},

		setSelectedFilters() {
			this.$electron.ipcRenderer.send('setSelectedFilters', _.clone(this.selectedFilters));	
		},

		start() {
			if(this.selectedFilters.length <= 0) {
				this.toggleRightDrawer(true)
			} else {
				this.setSelectedFilters();
			}
		},

		process() {
			if(this.selectedFilters.length) {
				this.selectedFilters.forEach(filter => {
					this.$electron.ipcRenderer.send('getPageRequest', filter);					
				})
			}
		},

		setList(event, { id, list }) {
			this.$set(this.prodsByFilters, id, list)
		},

		setFullList(event, list) {
			this.prodsByFilters = list
		},

		copyName(name) {
			this.$electron.clipboard.writeText(name)
			this.notify('Name copied to clipboard', 'success')
		},	

		setWishPrice(id, wish_price){
			let [ input ] = this.$refs[`filter${id}`],
				[ menu ] = this.$refs[`menu${id}`]

			if(!wish_price && input) {
				wish_price = parseInt(input.lazyValue)				
			}

			this.$store.dispatch('updateFilter', { id, changes: { wish_price } })

			if(menu) {
				menu.getActivator().blur()
	      	menu.isActive = false
			}
		}
	},

	created() {
		this.$electron.ipcRenderer.on('getPageResponse', this.setList);
		this.$electron.ipcRenderer.on('getAllFiltersResponse', this.setFullList);
	},

	mounted() {
		this.start()
	},

	beforeDestroy() {
		this.$electron.ipcRenderer.send('stopMonitoring')
		this.$electron.ipcRenderer.removeAllListeners('getPageResponse');
	}
}

// this.$electron.ipcRenderer.sendSync('getAllPagesRequest', filter) - для получения списка всех страница аука

</script>