<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-card>
				<v-toolbar dark flat>
					<v-text-field
			      	  class="mx-0 searchInput"
			      	  label="Search by item name"
			      	  prepend-inner-icon="search"
			      	  v-model="filter.item_name"
			      	  solo
			      	  :clearable="!loading"
			      	  hide-details
			      	  :readonly="loading"
			      	  @click:clear="filter.item_name = ''"
			      	></v-text-field>
			      	<v-btn
			      		:loading="loading"
			      		@click.stop="search"
			      		color="primary"
			      	>Search</v-btn>
			    </v-toolbar>

				<table v-if="filteredList.length" class="table table-striped product-list">
					<thead>
						<tr>
							<th>Product</th>
							<th width="20%">Price</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="product in filteredList" :class="product.btn.type.toLocaleLowerCase()" @click="copyName(product.name)">
							<td class="product">
								<div class="d-flex align-center">
									<v-menu right open-on-hover nudge-right="32" close-delay="0">
										<span class="img" slot="activator">
											<img :class="product.gradeName" :src="product.img">
											<span class="profit" v-if="filter.wish_price - (filter.wish_price/100)*5 > product.priceEach"></span>
										</span>
										
										<v-card class="prod-tooltip">
											<v-list dense>
												<v-list-tile avatar>
													<v-list-tile-avatar tile>
														<img :src="product.img" :class="product.gradeName" />
													</v-list-tile-avatar>
													<v-list-tile-content>
														<v-list-tile-title>
															{{ product.enhancement > 1 ? `+${product.enhancement} `:'' }}{{ product.name }}
														</v-list-tile-title>
														<v-list-tile-sub-title>{{ product.type }}</v-list-tile-sub-title>
													</v-list-tile-content>
												</v-list-tile>
											</v-list>
											<template v-if="product.tootltip && product.tootltip.length">
												<v-divider></v-divider>
												<v-list dense>
													<v-list-tile class="prod-info-row" v-for="(row, g) in product.tootltip" :key="g+row.title">
														<v-list-tile-title>
															{{ row.title }}: {{ row.val }}
														</v-list-tile-title>
													</v-list-tile>
												</v-list>
											</template>
											<template v-if="getSocketInfo(product.socket_info)">
												<v-divider></v-divider>
												<v-list dense>
													<v-list-tile v-for="(row, g) in getSocketInfo(product.socket_info)" :key="g+row.text">
														<v-list-tile-title>
															<span :class="row.className" v-html="row.text"></span>
														</v-list-tile-title>
													</v-list-tile>
												</v-list>
											</template>
										</v-card>
									</v-menu>

									<v-flex xs12 class="pa-0"> 
										<em><span>{{ product.enhancement > 0 ? `+${product.enhancement} ` : ''}}{{ product.name }}</span></em>
										
									</v-flex>
								</div>							
							</td>
							<td class="price">
								<v-tooltip v-if="product.count > 0" top content-class="price-tooltip">
   								<span slot="activator" v-html="getPriceHtml(product.priceEach, product.count)"></span>
									<div>
										<span class="price" v-html="getPriceHtml(product.priceTotal, -1)"></span>
									</div>
									<v-divider></v-divider>
									<div v-if="filter.wish_price - (filter.wish_price/100)*5 > product.priceEach">
										<span class="price"><em>Profit</em></span><br>
										<span class="price" v-html="getPriceHtml(filter.wish_price - (filter.wish_price/100)*5 - product.priceEach)"></span>
										<span class="price"><em>each</em></span><br>
										<span class="price" v-html="getPriceHtml((filter.wish_price - (filter.wish_price/100)*5 - product.priceEach)*product.count)"></span>
										<span class="price"><em>total</em></span>
									</div>
								</v-tooltip>
								<span v-else v-html="getPriceHtml(product.priceEach)"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</v-card>
		</v-flex>

		<portal to="rightSideBtns">
			<v-toolbar-items>
				<v-btn flat @click.stop="toggleRightDrawer()">
					Filters
				</v-btn>
			</v-toolbar-items>
		</portal>

		<portal to="rightDrawer">			
			<div class="px-3">
				<v-checkbox
					:readonly="loading"
					label="Exact search"
					hide-details
					v-model="filter.is_csearch"
				></v-checkbox>

				<v-layout row wrap>
					<v-flex xs6>
						<v-text-field :readonly="loading" v-model="filter.min_lev" mask="##" hide-details label="Min level"></v-text-field>
					</v-flex>
					<v-flex xs6>
						<v-text-field :readonly="loading" v-model="filter.max_lev" mask="##" hide-details label="Max level"></v-text-field>
					</v-flex>
				</v-layout>
			
				<v-select :readonly="loading" v-model="filter.grade" :items="grades" label="Grade" hide-details>
					<template slot="selection" slot-scope="data">
					    <span :style="{ color: data.item.color }">{{ data.item.text }}</span>
					</template>
					<template slot="item" slot-scope="data">
						<v-list-tile-content>
							<span :style="{ color: data.item.color }">{{ data.item.text }}</span>
						</v-list-tile-content>							    
					</template>					
				</v-select>

				<v-select
					v-model="filter.upgrade_level"
					:items="enhancements"
					:readonly="loading"
					label="Enhancement"
					hide-details
				></v-select>
				<v-select
					v-model="filter.evolution_level"
					:items="evolutions"
					:readonly="loading"
					label="Evolution"
					hide-details
				></v-select>
				<v-select
					v-model="category1"
					:items="categories"
					:readonly="loading"
					label="Category"
					hide-details
					return-object
				></v-select>
				<v-select
					v-if="category1 && category1.subcategories"
					v-model="category2"
					:items="category1.subcategories"
					:readonly="loading"
					label="Category 2"
					hide-details
					return-object
				></v-select>
				<v-select
					v-if="category2 && category2.subcategories"
					v-model="category3"
					:items="category2.subcategories"
					:readonly="loading"
					label="Category 3"
					hide-details
					return-object
				></v-select>
				<v-select
					v-model="by_runes"
					:items="rune_list"
					:readonly="loading"
					label="By Rune"
					hide-details
					multiple
				></v-select>

				<v-btn :disabled="loading" @click.stop="reset" class="mt-3" block>Reset filter</v-btn>
			</div>
		</portal>
	</v-layout>
</template>

<script>
import FilterCategories from '@/mixins/FilterCategories'

const DefaultFilter = {
	ctrl: 'list',
	category1: 9999,
	category2: 9999,
	category3: 9999,
	min_lev: '',
	max_lev: '',
	grade: 'all',
	item_name: '',
	sort_type: 3, // 3 - price
	sort_value: 2, // 1 - desc, 2 - asc
	evolution_level: -1,
	upgrade_level: -1,
	page: 1,
	lang: 'ENG',
	my_gold: 0,
	world: 0,
	csn: 0,
	is_use: false,
	is_buy: false,
	is_favorite: false,
	is_csearch: false, // true - полное совпадение имени
}

export default {	
	mixins: [FilterCategories],
	data: () => ({
		filter: { ...DefaultFilter },

		product_list: [],

		loading: false,
		category1: null,
		category2: null,
		category3: null,
		by_runes: [],
	}),

	computed: {
		isArmorCat() {
			return this.category1 && this.category1.value == 2
		},

		filteredList() {
			if(this.by_runes && this.by_runes.length) {
				return this.product_list.filter(e => _.intersection(e.rune_slots, this.by_runes).length > 0) 
			}

			return this.product_list;
		}
	},

	watch: {
		category1: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category1 = newVal.value;
			}

			if(!newVal.subcategories) {
				this.filter.category2 = 9999;
				this.filter.category3 = 9999;
			}
		},

		category2: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category2 = newVal.value;

				if(this.category1.value == 1 && newVal.value == 2) {
					this.category3 = newVal.subcategories[0]
				}

				if(newVal.value > 2) {
					this.filter.category3 = 9999
				}
			}
		},

		category3: function(newVal, oldVal) {
			if(newVal && newVal.value) {
				this.filter.category3 = newVal.value;
			}
		},
	},

	methods: {
		copyName(name) {
			this.$electron.clipboard.writeText(name)
			this.notify('Name copied to clipboard', 'success')
		},

		getSocketInfo(socket) {
			if(!socket || socket.length <= 0)
				return false;

			return socket.split('|').map(text => {
				let className = text.indexOf('img width=25 height=25') > -1 ? 'socket-row head-row' : 'socket-row'
				return { className, text }
			})
		},

		getPriceHtml(price, count) {
			var g = Math.floor(price/10000),
				s = Math.floor((price%10000)/100),
				b = price%100,
				count = count && count > 1 ? `<em>(x${count})</em>` : (count && count < 0 ? '<em>Total</em>' : '');

			s = s < 10 ? `0${s}` : s;
			b = b < 10 ? `0${b}` : b;

			return `${count}<span class="money gold">${g}</span><span class="money silver">${s}</span><span class="money bronse">${b}</span>`
		},

		reset() {
			this.filter = { ...DefaultFilter }
			this.category1 = _.first(this.categories)
			this.category2 = null
			this.category3 = null
			this.by_runes = []
		},

		search() {
			if(this.loading) return false;

			this.loading = true

			this.$electron.ipcRenderer.send('getAllPagesRequest', this.filter)
		},

		setList(event, list) {
			this.product_list = list
			this.loading = false
		}
	},

	created() {
		this.$electron.ipcRenderer.on('getAllPagesResponse', this.setList);
	},

	mounted() {
		this.setRightDrawerOptions({
			'mobile-break-point': 780
		})

		this.$nextTick(() => {
			if(window.innerWidth >= 780) {
				this.toggleRightDrawer(true)
			}
		})		
	},

	beforeDestroy() {
		this.setRightDrawerOptions()
		this.toggleRightDrawer(false)		
		this.$electron.ipcRenderer.removeAllListeners('getAllPagesResponse');
	},

}

</script>

<style>
	.searchInput.v-text-field.v-text-field--solo .v-input__control {
		min-height: 36px;
	}	
</style>