@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
@import url("https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css");

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;

	&-primary { background-color: #337ab7; }
	&-danger { background-color: #d9534f; }
	&-success { background-color: #5cb85c; }
	&-info { background-color: #5bc0de; }
	&-warning { background-color: #f0ad4e; }
}

.main-top-menu {
	.v-btn {
		text-transform: none;
	}
}

.filter-card h4 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.poduct-header{
	background-color: #23262b;
	font-size: 13px;
	color: #fff;
	vertical-align: middle;
}

.product-list {
	background-color: #23262b;
	font-size: 13px;
	color: #717c9a;
	vertical-align: middle;
	
	em {
		font-style: normal;
	}

	&.table {
		width: 100%;
		border-collapse: collapse;

		& thead th {
			text-align: center;
		}

		& > tbody > tr {
			cursor: pointer;

			& > td {				
				padding: 4px;
				vertical-align: middle; 

				&.product {
					position: relative;
					padding-left: 40px;
					max-width: 0;

					.img {
						display: inline-block;
						position: absolute;
						left: 4px;
						top: 4px;

						img {
							width: 29px;
							border: 2px solid;
							display: block;
						}

						.poor { border-color: #7f7f7f; }
						.common { border-color: #fff; }
						.uncommon { border-color: #80a94a; }
						.rare { border-color: #3479be; }
						.epic { border-color: #686bd7; }
						.legendary { border-color: #b37f47; }
					}

					.v-menu {
						position: absolute;
						left: 0px;
						top: 0px;
					}

					.profit{
						content: '';
						position: absolute;
						bottom: -3px;
						right: -3px;
						width: 10px;
						height: 10px;
						background: gold;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
					}

					em {
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						color: #fff;
						padding: 8px 0 8px;

						span {
							display: inline-block;				
							white-space: nowrap;
						}
					}
				}

				&.product em,
				&.product b,
				&.price p {
					margin: 0;
					font-size: 13px;
					line-height: 13px;
				}

				&.price { text-align: right; padding: 0 4px; width: 1%; }
			}
		}
	}

	&.table-striped > tbody {
		& > tr:nth-of-type(odd) {
			background-color: #2a2c32;

			&.bid {
				background-color: rgba(37, 165, 48, 0.48); // #2E7D32;

				.product em span {
					font-weight: bold;
				}

				.price em {
					color: #c6c6c6;
				}
			}
		}

		& > tr:nth-of-type(even) {
			background-color: #23262b;

			&.bid {
				background-color: rgba(50, 195, 61, 0.48); // #1B5E20;

				.product em span {
					font-weight: bold;
				}

				.price em {
					color: #c6c6c6;
				}
			}
		}
	}	
}


.price {
	white-space: nowrap;

	em {
		color: #A4AFCD;
		font-size: 11px;
		display: inline-block;
		font-style: normal;
	}

	span.money {
		padding-left: 5px;
		display: inline-block;
		font-size: 12px;
		color: #a3aab3;
		line-height: 13px;

		&.gold { color: #e1bc1a; }
		&.silver { color: #cacaca; }
		&.bronse { color: #d48c18; }
	}
}

.price-tooltip {
	background-color: #141a29;
}

.prod-tooltip {
	.v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
		height: 22px;
	}

	.socket-row {
		img {
			vertical-align: middle;
		}
	}
}