<template>
	<v-app id="app" dark>
		<v-navigation-drawer
			v-model="rightDrawer"
			fixed
			clipped
			right
			app
			v-bind="rightDrawerOptions"
		>
			<portal-target name="rightDrawer"></portal-target>
		</v-navigation-drawer>

		<v-toolbar clipped-right fixed dense app class="main-top-menu">
			<v-toolbar-items>
				<v-btn v-for="(item, i) in menu" :key="i" :to="item.to" exact flat>
					{{ item.label }}
				</v-btn>
			</v-toolbar-items>		
			<v-spacer></v-spacer>
			<v-flex>
				<div>{{ date.day }}</div>
				<div>{{ date.time }}</div>
			</v-flex>
			<v-spacer></v-spacer>
			<portal-target name="rightSideBtns" slim></portal-target>
		</v-toolbar>
		<v-content>
			<v-container fluid grid-list-lg>
				<router-view></router-view>
			</v-container>

			<v-snackbar
		      v-model="snack"
		      :color="snackColor"
		      :timeout="snackTimeout"
		      center
		      top
		    >
		      {{ snackText }}
		      <v-btn icon flat @click="snack = false" >
		      	<v-icon small>close</v-icon>
		      </v-btn>
		    </v-snackbar>			
		</v-content>
		<!-- <v-footer app fixed> <span>&copy; 2017</span></v-footer> -->
	</v-app>
</template>

<script>
export default {
	data: () => ({
		leftDrawer: false,
		rightDrawer: false,
		rightDrawerOptions: {},
		menu: [
			{ to: { name: 'search-page' }, label: 'Search', icon: 'dashboard' },
			{ to: { name: 'monitor-page' }, label: 'Monitoring', icon: 'dashboard' },
			{ to: { name: 'filters-page' }, label: 'Filter manager', icon: 'dashboard' },
		],

		snack: false,
		snackColor: null,
		snackTimeout: 3000,
		snackText: null,
	}),

	computed: {
		curDate() {
			return this.$store.state.settings.curDate
		},

		date() {
			if(!this.curDate) return null
			let d = this.curDate.getDate(),
				m = this.curDate.getMonth() + 1,
				y = this.curDate.getFullYear(),
				h = this.curDate.getHours(),
				i = this.curDate.getMinutes(),
				s = this.curDate.getSeconds();
			return {
				day: `${d}.${m}.${y}`,
				time: `${h}:${i}:${s}`
			}
		}
	},

	created() {
		setInterval(() => {
			this.$store.commit('updateTime')
		}, 1000)

		this.$store.dispatch('initFiltersList')

		this.$root.$on('setRightDrawerOptions', opts => {
			this.rightDrawerOptions = _.isObject(opts) ? _.clone(opts) : {}
		});

		this.$root.$on('toggleRightDrawer', force => {
			this.rightDrawer = typeof(force) !== 'undefined' ? force : !this.rightDrawer
		});

		this.$root.$on('showNotify', ({ text, color, timeout }) => {
			this.snackText = text
			this.snackColor = color
			this.snackTimeout = timeout
			this.$nextTick(() => {
			   this.snack = true
			})
		})
	},

	mounted() {
	}
}

</script>

<style lang="sass">
  @import "./assets/scss/app.scss"
</style>